<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Geolocation</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
   <access origin="*" />
   <plugin name="cordova-plugin-call-number" spec="https://github.com/ihadeed/cordova-plugin-call-number" source="git" />
 <plugin name="cordova-plugin-inappbrowser" source="npm" spec="~1.3.0"/>
   <plugin name="cordova-plugin-network-information" source="npm" spec="~1.2.0"/>
   <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1"/>

   <plugin name="cordova-plugin-geolocation" spec="2.4.0" />
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<allow-intent href="http://*/*" />
  <allow-navigation href="*" />
  <allow-intent href="https://*/*" />
   <allow-intent href="geo:*"/>
   <platform name="android">
       <allow-intent href="market:*"/>
   </platform>

</widget>
